<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
        id="org.eclipse.amp.escape.customizer"
        name="Customizers"
        point="org.eclipse.ui.views">
     <view
           allowMultiple="true"
           category="org.eclipse.amp.axf.views"
           class="org.eclipse.amp.agf.chart.ChartViewPart"
           icon="icons/obj16/barcharticon.gif"
           id="org.eclipse.amp.view.ChartView"
           name="Chart"
           restorable="false">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.eclipse.amp.axf.ExecutionPerspective">
        <view
              id="org.eclipse.amp.view.ChartView:*"
              ratio=".5"
              relationship="right"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.viewActions">
     <viewContribution
           id="org.eclipse.amp.view.customizer.ChartContribution"
           targetID="org.eclipse.amp.view.ChartView">
        <menu
              id="org.eclipse.amp.agf.chart.menu"
              label="Chart Type"
              path="typegroup">
        </menu>
        <action
              class="org.eclipse.amp.agf.chart.ide.SelectPieAction"
              icon="icons/obj16/piecharticon.gif"
              id="org.eclipse.amp.agf.chart.pie"
              label="Pie"
              menubarPath="org.eclipse.amp.agf.chart.menu/typegroup"
              style="radio"
              toolbarPath="typegroup"
              tooltip="Display the last period data as a pie chart.">
        </action>
        <action
              class="org.eclipse.amp.agf.chart.ide.SelectHistogramAction"
              icon="icons/obj16/barcharticon.gif"
              id="org.eclipse.amp.agf.chart.histogram"
              label="Histogram"
              menubarPath="org.eclipse.amp.agf.chart.menu/typegroup"
              style="radio"
              toolbarPath="typegroup"
              tooltip="Display the lat period data as a histogram.">
        </action>
        <action
              class="org.eclipse.amp.agf.chart.ide.SelectAreaAction"
              icon="icons/obj16/areacharticon.gif"
              id="org.eclipse.amp.agf.chart.area"
              label="Stacked Area"
              menubarPath="org.eclipse.amp.agf.chart.menu/typegroup"
              style="radio"
              toolbarPath="typegroup"
              tooltip="Display the data as stacked areas.">
        </action>
        <action
              class="org.eclipse.amp.agf.chart.ide.SelectTimeSeriesAction"
              icon="icons/obj16/linecharticon.gif"
              id="org.eclipse.amp.agf.chart.timeseries"
              label="Time Series"
              menubarPath="org.eclipse.amp.agf.chart.menu/typegroup"
              state="true"
              style="radio"
              toolbarPath="typegroup"
              tooltip="Display the data as a time series.">
        </action>
        <action
              class="org.eclipse.amp.agf.chart.ide.DisplayLegendAction"
              icon="icons/obj16/display_show_text.gif"
              id="org.eclipse.amp.escape.charts.action1"
              label="Show Legend"
              menubarPath="additions"
              state="true"
              style="toggle"
              toolbarPath="customGroup">
        </action>
     </viewContribution>
  </extension>

</plugin>
