<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.5 2010/08/04 01:53:56 mparker Exp $
-->

<plugin>
   

    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.eclipse.amp.amf.gen.ext.GenerateKeyHandler"
             commandId="org.eclipse.amp.amf.gen.graphickey">
       </handler>
       <handler
             class="org.eclipse.amp.amf.gen.ext.GenerateTextHandler"
             commandId="org.eclipse.amp.amf.gen.text">
       </handler>
       <handler
             class="org.eclipse.amp.amf.gen.ext.GenerateTestCaseHandler"
             commandId="org.eclipse.amp.amf.gen.testcase">
       </handler>
       <handler
             class="org.eclipse.amp.amf.gen.ext.GenerateFunctionLibraryHandler"
             commandId="org.eclipse.amp.amf.gen.functiondocs">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             categoryId="org.eclipse.amp.amf.gen.category"
             id="org.eclipse.amp.amf.gen.graphickey"
             name="Generate Key for Graphics">
       </command>
       <command
             categoryId="org.eclipse.amp.amf.gen.category"
             id="org.eclipse.amp.amf.gen.text"
             name="Generate Raw Text">
       </command>
       <command
             categoryId="org.eclipse.amp.amf.gen.category"
             id="org.eclipse.amp.amf.gen.testcase"
             name="Generate Test Case">
       </command>
       <command
             categoryId="org.eclipse.amp.amf.gen.category"
             id="org.eclipse.amp.amf.gen.functiondocs"
             name="Generate Function Docs">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:org.eclipse.amp.amf.ide.generateMenuID?after=additions">
          <command
                commandId="org.eclipse.amp.amf.gen.graphickey"
                icon="icons/full/obj16/Graphics.gif"
            style="push"
                tooltip="Generate a table for each agent showing states for graphics.">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="org.metaabm.metaABMFile">
                </reference>
             </visibleWhen>
          </command>
     
          <command
                commandId="org.eclipse.amp.amf.gen.functiondocs"
                icon="icons/full/obj16/FLibrary.gif"
                label="Function Docs (Wiki)"
                style="push"
                tooltip="Generate Wiki text for a function library">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="org.metaabm.metaABMFile">
                </reference>
             </visibleWhen>
          </command>   <command
                commandId="org.eclipse.amp.amf.gen.text"
                icon="icons/full/obj16/Text.gif"
                label="Text Documentation"
                style="push"
                tooltip="Generate text snippets for use in documents.">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="org.metaabm.metaABMFile">
                </reference>
             </visibleWhen>
          </command>
          <command
                commandId="org.eclipse.amp.amf.gen.testcase"
                icon="icons/full/obj16/junit.gif"
                id="GenerateTestCase"
                label="Test Cases"
                style="push"
                tooltip="Generate JUnit test cases for all model components.">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="org.metaabm.metaABMFile">
                </reference>
             </visibleWhen>
          </command>
       </menuContribution>
    </extension> 
</plugin>

