<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2010/08/04 01:52:56 mparker Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.amp.amf.abase.aBase.presentation.ABaseModelWizardID"
            name="%_UI_ABaseModelWizard_label"
            class="org.eclipse.amp.amf.abase.aBase.presentation.ABaseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ABaseModelFile.gif">
         <description>%_UI_ABaseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.amp.amf.abase.aBase.presentation.ABaseEditorID"
            name="%_UI_ABaseEditor_label"
            icon="icons/full/obj16/ABaseModelFile.gif"
            extensions="abase"
            class="org.eclipse.amp.amf.abase.aBase.presentation.ABaseEditor"
            contributorClass="org.eclipse.amp.amf.abase.aBase.presentation.ABaseActionBarContributor">
      </editor>
   </extension>

</plugin>
