<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.7 2010/05/11 01:43:50 mparker Exp $
-->

<plugin>
   <extension
         point="org.eclipse.ui.views">
     <view
           allowMultiple="true"
           category="org.eclipse.amp.axf.views"
           class="org.eclipse.amp.agf.gef.GEFViewPart"
           icon="icons/etool16/members.gif"
           id="org.eclipse.amp.view.GEFView"
           name="2D Agents"
           restorable="true">
     </view>
     <view
           allowMultiple="true"
           category="org.eclipse.amp.axf.views"
           class="org.eclipse.amp.agf.tree.TreeViewPart"
           icon="icons/etool16/tree_view.gif"
           id="org.eclipse.amp.view.TreeView"
           name="Agent Navigator"
           restorable="true">
     </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.Object"
            class="org.eclipse.amp.agf.ModelAdapterFactory">
         <adapter
               type="org.eclipse.amp.agf.gef.IModelFactoryProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.Object"
            class="org.eclipse.amp.agf.GraphicsAdapterFactory">
         <adapter
               type="org.eclipse.amp.agf.IGraphicsAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.Object"
            class="org.eclipse.amp.agf.GraphicsAdapter">
         <adapter
               type="org.eclipse.amp.agf.gef.IFigureProvider">
         </adapter>
      </factory>
   </extension>
</plugin>

