<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="sd"
            class="org.eclipse.amp.amf.sd.SdPackage"
            genModel="src/org/eclipse/amp/amf/sd/sd.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.eclipse.amp.amf.sd.impl.SdFactoryImplGeneratedNot"
            uri="sd">
      </factory>
   </extension>

</plugin>
