<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      </extension>
      <extension
         id="org.eclipse.amp.agents.cheatsheets"
         name="Introduction"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.amp"
            name="Agent Modeling">
      </category>
      <cheatsheet
            category="org.eclipse.amp"
            composite="false"
            contentFile="cheatsheets/CreateEscapeAMFProject.xml"
            id="org.eclipse.amp.escape.amf.createProject"
            name="Create an AMF Escape Project"/>
      <cheatsheet
            category="org.eclipse.amp"
            composite="true"
            contentFile="cheatsheets/CreateAndRunJava.xml"
            id="org.eclipse.amp.escape.escapeJava"
            name="Build and Run an Escape Java Model">
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.amp"
            composite="false"
            contentFile="cheatsheets/CreateEscapeJavaProject.xml"
            id="org.eclipse.amp.escape.createProject"
            name="Create an Escape Project for Java">
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.amp"
            composite="false"
            contentFile="cheatsheets/LoadSampleProjects.xml"
            id="org.eclipse.amp.escape.loadProjects"
            name="Load Example Projects">
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.amp"
            composite="false"
            contentFile="cheatsheets/LoadSampleProjectsVCS.xml"
            id="org.eclipse.amp.escape.loadProjectsVCS"
            name="Load Example Projects from Version Control System">
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.amp"
            composite="false"
            contentFile="cheatsheets/CreateEscapeJavaModel.xml"
            id="org.eclipse.amp.escape.createJava"
            name="Create an Escape Java Model">
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.amp"
            composite="false"
            contentFile="cheatsheets/RunEscape.xml"
            id="org.eclipse.amp.escape.runExample"
            name="Run an Example Model">
      </cheatsheet>
   </extension>
</plugin>
